.search-form {
  // position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  height: 100px;

  background-color: aquamarine;
}

.search-input{
  height: 50px;
  width: 300px;
  font-size: 24px;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.load-more {
  display: flex;
  margin: 20 auto;
}

.hidden {
  display: none;
}

button{
  width: 100px;
  height: 50px;
  border-radius: 3px;
  align-items: center;
}

.photo-card{
  margin-top: 50px;
}